# Secrets (Crucial for Jam Market)
.env
.env.local
.env.*

# Python / Django
__pycache__/
*.py[cod]
*$py.class
venv/
env/
db.sqlite3

# Node / React
node_modules/
dist/
dist-ssr
build/

# Logs
logs
*.log
npm-debug.log*

# Editor
.vscode/
.idea/
.DS_Store